html {
    /* The html and body elements cannot have any padding or margin. */
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
}

body {
    background-color: #e2e6ea;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/* Imports the Bauman's Regular Font */
@font-face
{
    font-family: Baumans;
    src: url('../../static/Baumans-Regular.ttf');
}

/* Sets the font styling for headings*/
h1, h2, h3, h4 {
    font-family: Baumans, sans-serif;
    font-weight: bold;
}

#footer {
    margin-top: 1vh;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.7em;
}

/* Solid line border to separate the two trips panels */
#pastTrips {
    border-top: 1px solid black;
}

.footer-link {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 1.1em;
}

/* Page Titles and Subtitles*/
.page-title {
    text-align: center;
}

/* Used for main nav bar that needs to remain fixed at top of page */
.mainNav {
    top: 0;
    width: 100%;
    z-index: 3;
}

a {
    color: grey;
}

.nav-bar-brand {
    cursor: pointer
}

.buttonMarginsTop {
    margin-top: 5px;
}

.buttonMarginsBottom {
    margin-bottom: 5px
}

.descriptionText {
    font-size: 12px;
    color: grey;
}

.tableWidthSmall {
    max-width: 8%;
    width: 8%;
    text-align: center;
}

.tableWidthMedium {
    max-width: 8%;
    width: 15%;
    text-align: center;
}

.tableWidthLarge {
    max-width: 8%;
    width: 25%;
    text-align: center;
}

.defaultCursor {
    cursor: default;
}

.mobile-text {
    font-size: 15px;
}

.no-wrap-text {
    white-space: nowrap;
}

.fixedElement {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media only screen and (min-device-width: 992px) {
    .show-only-mobile {
        visibility: hidden;
    }
}

@media only screen and (max-device-width: 991px) {
    .mobileMargins {
        margin-top: 10px;
    }
    .show-only-desktop {
        visibility: hidden;
    }
}

.loading {
    animation: rotate 3s infinite;
}

@keyframes rotate {
    100% {transform: rotate(350deg);}
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 50%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.rowStars {
    display: flex;
    flex-wrap: wrap;
}

.columnStars {
    flex: 20%;
}

/* Disabled property for badges if user has not achieved them yet */
.disabledBadge {
    opacity: 0.2;
}

.card-body {
    padding: 10px;
}

.errorMessage {
    white-space:pre-wrap;
}