html {
    /* The html and body elements cannot have any padding or margin. */
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
    height: 100%;
}

body {
    background-color: #e2e6ea;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/* Imports the Bauman's Regular Font */
@font-face
{
    font-family: Baumans;
    src: url('../../static/Baumans-Regular.ttf');
}

/* Sets the font styling for headings*/
h1, h2, h3, h4 {
    font-family: Baumans, sans-serif;
    font-weight: bold;
}

.stylised-text {
    font-family: Baumans, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

#footer {
    margin-top: 1vh;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.7em;
}

/* Solid line border to separate the two trips panels */
#pastTrips {
    border-top: 1px solid black;
}

.footer-link {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 1.1em;
}

/* Page Titles and Subtitles*/
.page-title {
    text-align: center;
}

/* Used for main nav bar that needs to remain fixed at top of page */
.mainNav {
    top: 0;
    width: 100%;
    z-index: 3;
}

a {
    color: grey;
}

.nav-bar-brand {
    cursor: pointer
}

.buttonMarginsTop {
    margin-top: 5px;
}

.buttonMarginsBottom {
    margin-bottom: 5px
}

.descriptionText {
    font-size: 12px;
    color: grey;
}

.tableWidthSmall {
    max-width: 8%;
    width: 8%;
    text-align: center;
}

.tableWidthMedium {
    max-width: 8%;
    width: 15%;
    text-align: center;
}

.tableWidthLarge {
    max-width: 8%;
    width: 25%;
    text-align: center;
}

.defaultCursor {
    cursor: default;
}

.mobile-text {
    font-size: 15px;
}

.no-wrap-text {
    white-space: nowrap;
}

.profilePage {
    max-height: 100%;
}

.profilePage p {
    margin: 0;
    font-size: 15px;
}

.profilePage ul {
    margin: 0;
    font-size: 15px;
}

@media only screen and (min-device-width: 992px) {
    .show-only-mobile {
        visibility: hidden;
    }
}

@media only screen and (max-device-width: 991px) {
    .mobileMargins {
        margin-top: 10px;
    }
    .show-only-desktop {
        visibility: hidden;
    }
}

.loading {
    animation: rotate 3s infinite;
    -webkit-animation: rotate 3s infinite;
}

@keyframes rotate {
    100% {transform: rotate(350deg);}
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
    max-width: 50%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.rowStars {
    display: flex;
    flex-wrap: wrap;
}

.columnStars {
    flex: 20%;
}

/* Disabled property for badges if user has not achieved them yet */
.disabledBadge {
    opacity: 0.2;
}

.card-body {
    padding: 10px;
}

.wrapWhiteSpace {
    white-space:pre-wrap;
}

.wrapWhiteSpaceSmallGap {
    white-space:pre-wrap;
    font-size: 15px;
}

.badgesDiv {
    max-height: 60vh;
    overflow: auto;
    overflow-y: scroll;
}

/* Default margin for mobile, don't change as this can be overridden whereas bootstrap's can't. */
.questMobileContent {
    margin: 0.5em;
}

/* Changes font size on small devices, as text is too big and breaks div */
@media only screen and (max-device-width: 1550px) {
    .badgesContent {
        font-size: 0.8em;
    }

    .badgesContent p {
        font-size: 0.99em;
    }
}

/* Changes width of column for quests when viewing on mobile */
@media only screen and (max-device-width: 767px) {
    .questMobile {
        padding: 0;
        margin: 0;
    }

    .questMobileContent {
        padding: 0;
        margin: 0.5em 0 0 0;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid #eee;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

.loader {
    opacity:    0.9;
    background: darkgrey;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
    text-align: center;
}

.loader-content {
    top: 35%;
    opacity: 1;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: black;
}

.loading-results-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: black;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 90vw;
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 90vw;
    }
}

