body {
    background-color: #e2e6ea;
    padding-top: 0;
    overflow-x: hidden;
    height: 100%;
}


.bg {
    /* Background image used. */
    background: url("../../static/background_image.jpg");
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}


.centerAlignDiv {
    padding-top: 30vh;
    height: 100vh;
    position: relative;
}


#subtitle {
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}


/* Adds background box to Traveller Type selection. */
.carousel-caption {
    background: #e5e5e5e5;
    border-radius: 10px;
    color: black;
}

.loginSignUpButtons {
    position: relative;
    top: 23%;
}


@media only screen and (max-device-width: 480px) {
    .carousel-caption p {
        font-size: 3vw;
        margin-bottom: 0;
    }

    .carousel-caption h3 {
        font-size: 5vw;
    }
}

/* Main section containing the logo and logo icon. Slides up after logos are brought in. */
.animation {
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 25%;
    animation: moveUp 2s;
    -webkit-animation: moveUp 2s;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    animation-fill-mode:forwards;
}


@keyframes moveUp {
    100% {
        transform: translateY(-30%)
    }
}


/* Contains the subtitle and the buttons to login and sign up. Fades in as the logos slide up. */
.subtitleSection {
    top: 20%;
    left: 10%;
    width: 80%;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    text-align: center;
}

.subtitleSection h4 {
    font-size: 2vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}


/* Translates the logo icon. */
.logoTranslate {
    position: absolute;
    z-index: 1;
    animation: slideLogo 2s;
    animation-delay: 0.15s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    width: 10vw;
}


@keyframes slideLogo {
    100% {
        transform: translateX(410%) rotate(360deg);;
    }
}


/* Translates the text from the logo. */
.logoTextAppear {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: slideText 2s;
    animation-delay: 0.15s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    font-size: 10vw;
    color: white;
    font-weight: normal;
}


@keyframes slideText {
    0% {width: 0}
    100% {width: 100%;}
}

@media screen and (max-width: 1200px) {
    .animation {
        left: 12%;
    }

    .logoTextAppear {
        font-size: 15vw;
    }

    .logoTranslate {
        width: 15vw;
    }

    .subtitleSection {
        top: 15%;
        left: 10%;
    }

    .subtitleSection h4 {
        font-size: 4vw;
    }

    .btn-lg {
        padding: 1rem 1.5rem;
        font-size: 2rem;
        line-height: 1.2;
        border-radius: 0.3rem;
    }

    .loginSignUpButtons {
        top: 20%;
    }
}

@media screen and (max-width: 1000px) {
    .animation {
        left: 15%;
    }

    .logoTextAppear {
        font-size: 15vw;
    }

    .logoTranslate {
        width: 15vw;
    }

    .subtitleSection {
        top: 15%;
        left: 10%;
    }

    .subtitleSection h4 {
        font-size: 4vw;
    }

    .btn-lg {
        padding: 0.75rem 1rem;
        font-size: 1.5rem;
        line-height: 1.2;
        border-radius: 0.3rem;
    }

    .loginSignUpButtons {
        top: 20%;
    }
}

@media screen and (max-width: 780px) {
    .animation {
        left: 15%;
    }

    .logoTextAppear {
        font-size: 15vw;
    }

    .logoTranslate {
        width: 15vw;
    }

    .subtitleSection {
        top: 12%;
        left: 10%;
    }

    .subtitleSection h4 {
        font-size: 4vw;
    }

    .btn-lg {
        padding: 0.5rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1.2;
        border-radius: 0.3rem;
    }

    .loginSignUpButtons {
        top: 15%;
    }

}


/* Handles appropriate responsiveness on small screens. */
@media screen and (max-width: 480px) {
    .centerAlignDiv {
        padding-top: 60%;
    }

    .animation {
        left: 5%;
    }

    .logoTextAppear {
        font-size: 17.5vw;
    }

    .logoTranslate {
        width: 17.5vw;
    }

    .btn-lg {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1;
        border-radius: 0.3rem;
    }

    .subtitleSection h4 {
        font-size: 1em;
    }
}

@media screen and (max-width: 350px) {
    .centerAlignDiv {
        padding-top: 50%;
    }

    .btn-lg {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
        line-height: 1;
        border-radius: 0.3rem;
    }
}

.main {
    background-color: white;
    height: 100vh;
}

.ct-btn-scroll {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.jumbo {
    padding-top: 10%;
}

img,
figure {
    max-width: 100%;
}

/* Animates the home page arrow to bounce up and down */
.animatedArrow {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
}

.animatedArrow:hover {
    width: 80px;
    height: 80px;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.blurbFont {
    font-size: 1.2em;
}

.blurbFontTitle {
    font-size: 3em;
}

@media screen and (max-width: 766px) {
    .blurbFont {
        font-size: 1em;
    }

    .blurbFontTitle {
        font-size: 2em;
    }
}