body {
    background-color: #e2e6ea;
    padding-top: 0px;

}

.bg {
    /* Background image used */
    background-image: url("../../static/background_image.jpg");
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    overflow: hidden;

}

#subtitle {
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

/* Adds background box to Traveller Type selection */
.carousel-caption {
    background: #e5e5e5e5;
    border-radius: 10px;
    color: black;
}

/* Styling for Traveller Type checkbox */
.carousel-caption input[type='checkbox'] {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.carousel-caption input[type='checkbox']:checked {
    background: #abd;
}