@import helper._

@import models.Profile
@import models.Nationality
@import models.TravellerType



<div class="container">
    <h1 class="page_title">Find A Travel Partner</h1>
    <p class="page_title"><i>Search for other travellers using the form below.</i> </p>


    <label for="profile-nationality">Name</label>
    <input id="profile-nationality" type="text" class="form-control">

    <label for="profile-gender">Type</label>
    <input id="profile-gender" type="text" class="form-control">

    <label for="profile-age-range">District</label>
    <input id="profile-age-range" type="text" class="form-control">

    <label for="profile-travellertypes">Latitude</label>
    <input id="profile-travellertypes" type="text" class="form-control">


    @*<button type="submit" class="btn btn-primary" id="btn-Next" onclick="searchProfiles()">Search</button>*@

</div>