@(profile: Profile)

@main {
    <h1>Your profile</h1>
    <table style="width: 100%">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Created</th>
            <th>Nationality</th>
            <th>Passport</th>
        </tr>
        <tr>
            <td>@profile.getUsername</td>
            <td>@profile.getfName @profile.getmName @profile.getlName</td>
            <td>@profile.getGender</td>
            <td>@profile.getDateOfBirth</td>
            <td>@profile.getDateOfCreation</td>
            <td>@for(nationality <- profile.getNationalities) {
                @nationality.getNationality
            }</td>
            <td>@for(passport <- profile.getPassports) {
                @passport.getIssueCountry
            }</td>
        </tr>
    </table>
}