html {
    /* The html and body elements cannot have any padding or margin. */
    height: 100%;
}

body {
    background-color: #e2e6ea;
    padding-top: 200px;

}

#footer {
    background-color: white;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    font-size: 0.7em;
}

/* Imports the Bauman's Regular Font */
@font-face
{
    font-family: Baumans;
    src: url('Baumans-Regular.ttf');
}

/* Sets the font styling for headings*/
h1, h2, h3, h4 {
    font-family: Baumans, SansSerif;
    font-weight: bold;
}

/* Page Titles and Subtitles*/
.page_title {
    text-align: center;
}

/* All #keywords styling is for the sortable tables
  Stuart Langridge, http://www.kryogenix.org/code/browser/sorttable/ */
#keywords {
    height: 30%;
    overflow: auto;
    width: 100%;
}

#keywords thead {
    cursor: pointer;
    background: #c9dff0;
    text-align: center;
}

#keywords thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}

#keywords thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
    background: #acc8dd;
}

#keywords tbody tr {
    color: #555;
}

#keywords tbody tr td {
    text-align: center;
    padding: 15px 10px;
}

.nav_active {
    font-weight: bold;
}

#dashNav {
    margin-top: 80px;
}