<div class="modal fade" id="loginPopup">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sign In</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="sign-in-form">
                    <div class="form-group">
                        <input id="sign-in-username" type="username" name="inputUsername" placeholder="Username" class="form-control" autofocus minlength="5" required>
                    </div>
                    <div class="form-group">
                        <input id="sign-in-password" type="password" name="inputPassword" placeholder="Password" class="form-control" minlength="6" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-group-justified" id="sign-in">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span>Need an account? <a href data-dismiss="modal" data-target="#signUpPopup" data-toggle="modal">Sign Up</a></span>
            </div>
        </div>
    </div>
</div>