@import helper._

@import models.destinations.Destination
@import models.destinations.DestinationType
@(types: List[DestinationType],stringTypes: List[String])
<div class="container">
    <h1 class="page_title">Create a Destination</h1>
    <p class="page_title"><em>Add a new destination using the form below</em> </p>

    <label for="newDest_name">Name</label>
    <input id="newDest_name" type="text" class="form-control" autofocus>
    <!--Import the selector box for type, populated from newTypeSelector.scala.html-->
    @viewDestinations.newTypeSelector(types, stringTypes)

    <label for="newDest_district">District</label>
    <input id="newDest_district" type="text" class="form-control">

    <label for="newDest_latitude">Latitude</label>
    <input id="newDest_latitude" type="text" class="form-control">

    <label for="newDest_longitude">Longitude</label>
    <input id="newDest_longitude" type="text" class="form-control">

    <label for="newDest_country">Country</label>
    <input id="newDest_country" type="text" class="form-control">

    <button type="submit" class="btn btn-primary" id="btn-Next" onclick="createDestination()">Create Destination</button>
</div>
