@import helper._

@import models.destinations.Destination
@import models.destinations.DestinationType
@(types: List[DestinationType],stringTypes: List[String])
@main("Destinations", "destinations.js", "destinations.css") {
    @viewDestinations.navDestinations()
    <div class="container" id="container">

        <div class="tab-content">
            <!-- If a Destination if created successfully -->
            <div id="createDestinationSuccess" class="alert alert-success" style="display:none;">
                Destination created successfully!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hideSuccessBanner()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- If there is an error in creating a Destination -->
            <div id="createDestinationError" class="alert alert-danger" style="display:none;">
                Error creating destination!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="hideErrorBanner()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Switch between the different tabs -->
            <div class="tab-pane fade show active" id="searchDestinations">
                @viewDestinations.searchDestinations(types, stringTypes)
            </div>
            <div class="tab-pane fade show" id="createDestination">
                @viewDestinations.createDestination(types, stringTypes)
            </div>
            <div class="tab-pane fade show" id="tableDestinations">
                <div id="tableContent">
                </div>
            </div>
        </div>
    </div>
}