<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="dashNav">


    <div class="collapse navbar-collapse navbar-right" id="navbar-list">

        @* Tab navigation must be kept to a single unordered list *@
        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#searchDestinations" data-toggle="tab">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#createDestination" onclick="hideTable()" data-toggle="tab">Create</a>
            </li>
        </ul>


    </div>
</nav>