@import helper._

@import models.destinations.Destination
@(destinations: List[Destination])

<table id="keywords" class = "sortable d-none" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>District</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
    @for(destination <- destinations) {
        <tr>
            <td>@destination.getName</td>
            <td>@destination.getType</td>
            <td>@destination.getDistrict</td>
            <td>@destination.getLatitude</td>
            <td>@destination.getLongitude</td>
            <td>@destination.getCountry</td>
        </tr>
    }
    </tbody>
</table>