
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="dashNav">


    <div class="collapse navbar-collapse navbar-right">

        @* Tab navigation must be kept to a single unordered list *@
        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#profile" data-toggle="tab">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#edit" data-toggle="tab">Edit Profile</a>
            </li>
        </ul>


    </div>
</nav>