@(currentUser: Profile)

<div class="container">
        <!-- Gets basic attributes of current user and displays them  -->
    <div>
        <h1><b>@currentUser.getFirstName @currentUser.getMiddleName @currentUser.getLastName</b></h1>
        <p> Date of Birth: (@currentUser.getDateOfBirth)</p>
        <p> Date of Creation: (@currentUser.getDateOfCreation)</p>
        <p> Gender: @currentUser.getGender</p>
    </div>

    <div>
        <h2>Nationalities</h2>
        <ul>
        @for(nationality <- currentUser.getNationalities) {
            <li>@nationality.getNationality</li>
        }
        </ul>
    </div>
    <div>
        <h2>Passports</h2>
        <ul>
        @for(passport <- currentUser.getPassports) {
            <li>@passport.country</li>
        }
        </ul>
    </div>
    <div>
        <h2>Traveller Types</h2>
        <ul>
        @for(travellerType <- currentUser.getTravellerTypes) {
            <li>@travellerType.travellerType</li>
        }
        </ul>
    </div>
</div>