@(currentUser: Profile)

<div class="container">
        <!-- Gets basic attributes of current user and displays them  -->
    <div>
        <h1><b>@currentUser.firstName @currentUser.middleName @currentUser.lastName</b></h1>
        <p> Date of Birth: (@currentUser.dateOfBirth)</p>
        <p> Date of Creation: (@currentUser.dateOfCreation)</p>
        <p> Gender: @currentUser.gender</p>
    </div>

    <div>
        <h2>Nationalities</h2>
        <ul>
        @for(nationality <- currentUser.nationalities) {
            <li>@nationality.nationality</li>
        }
        </ul>
    </div>
    <div>
        <h2>Passports</h2>
        <ul>
        @for(passport <- currentUser.passports) {
            <li>@passport.country</li>
        }
        </ul>
    </div>
    <div>
        <h2>Traveller Types</h2>
        <ul>
        @for(travellerType <- currentUser.travellerTypes) {
            <li>@travellerType.travellerType</li>
        }
        </ul>
    </div>
</div>