@(people: List[Person])

@main("People") {

    @navbar()

    <section id="main">


        <div id="container" class = "people_table">
            <h1 class="page_title">People</h1>
            <p class="page_title"><i>The table below shows all profiles stored in TravelEA.</i> </p>

            <input type="search" id="filterInput" placeholder="Filter">
            <a class="btn btn-link" data-toggle="modal" data-target="#advancedSearchPopup" style="cursor: pointer;">Advanced Search</a>
            <div class = "modal" id="advancedSearchPopup" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Advanced Search</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Leave a field blank if you do not want to search that category.</p>
                            <p style="color: red"><i>This modal is currently just display, no functionality works yet.</i></p>
                            <form>
                                <div class="form-group">
                                    <select id="gender">
                                        <option value="any">Any Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="age_range">
                                        <option value="any">Any Age</option>
                                        <option value="18_24">18-24</option>>
                                        <option value="25_34">25-34</option>
                                        <option value="35_44">35-44</option>
                                        <option value="45_54">45-54</option>
                                        <option value="55_64">55-64</option>
                                        <option value="65+">65+</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="nationality">
                                        <option value="any">Any Nationality</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select id="passport_country">
                                        <option value="any">Any Passport Country</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h2 class="secondary-label">Traveller Types</h2>
                                    <label><input type="checkbox" id="groupie" name="travellerType1" value="groupie"> Groupie<br></label>
                                    <label><input type="checkbox" id="thrill" name="travellerType2" value="thrill"> Thrill Seeker<br></label>
                                    <label><input type="checkbox" id="gap" name="travellerType3" value="gap"> Gap Year<br></label>
                                    <label><input type="checkbox" id="weekend" name="travellerType4" value="weekend"> Frequent Weekender<br></label>
                                    <label><input type="checkbox" id="holiday" name="travellerType5" value="holiday"> Holiday Maker<br></label>
                                    <label><input type="checkbox" id="business" name="travellerType5" value="business"> Functional/Business Traveller<br></label>
                                    <label><input type="checkbox" id="backpacker" name="travellerType5" value="backpacker"> Backpacker<br></label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info btn-lg">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <ul id="persons"></ul>
            <table id="keywords" class = "sortable" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th><span>ID</span></th>
                        <th><span>First Name</span></th>
                        <th><span>Middle Name</span></th>
                        <th><span>Surname</span></th>
                        <th><span>Date of Birth</span></th>
                        <th><span>Gender</span></th>
                        <th><span>Nationality</span></th>
                        <th><span>Passport Country</span></th>
                        <th><span>Traveler Type</span></th>
                    </tr>
                </thead>
                <tbody id = "peopleTableBody">
                    @for(person <- people) {
                        <tr>
                            <td>@person.getIdNumber()</td>
                            <td>@person.getFirstName()</td>
                            <td>@person.getMiddleName()</td>
                            <td>@person.getLastName()</td>
                            <td>@person.getDateOfBirth()</td>
                            <td>@person.getGender()</td>
                            <td>@person.getNationality()</td>
                            <td>@person.getPassportCountry()</td>
                            <td>@person.getTravellerType()</td>
                        </tr>
                    }
                </tbody>

            </table>
            <script>
                    var selectNationality = document.getElementById("nationality");
                    var selectPassport = document.getElementById("passport_country");

                    var options = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua and Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
                        ,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia and Herzegovina","Botswana","Brazil","British Virgin Islands"
                        ,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
                        ,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
                        ,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
                        ,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
                        ,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
                        ,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
                        ,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
                        ,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
                        ,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre and Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
                        ,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts and Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
                        ,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad and Tobago","Tunisia"
                        ,"Turkey","Turkmenistan","Turks and Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","Uruguay"
                        ,"Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
                    for(var i = 0; i < options.length; i++) {
                        var opt = options[i];
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        selectNationality.appendChild(el);
                    }

                    for(var i = 0; i < options.length; i++) {
                        var opt = options[i];
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        selectPassport.appendChild(el);
                    }
            </script>
        </div>
    </section>
}