@()

@main("Plan a Trip") {

    <style type="text/css">
        #div1 {
            height: 15vh;
            padding:10px;
            border:1px solid #aaaaaa;
        }
        #div2 {
            padding:10px;
        }
    </style>
    <script>
        //Stops dropped elements from opening a new page
        function allowDrop (ev) {
            ev.preventDefault ();
        }

        //Allows elements to be dragged
        function drag (ev) {
            ev.dataTransfer.setData ("text/plain", ev.target.id);
        }

        //Swaps data of two elements colliding when dropped
        function drop (ev) {
            ev.preventDefault ();
            var src = document.getElementById (ev.dataTransfer.getData ("text"));
            var srcParent = src.parentNode;
            var tgt = ev.currentTarget.firstElementChild;

            ev.currentTarget.replaceChild (src, tgt);
            srcParent.appendChild (tgt);
        }

        //Creates a new drag/droppable div and paragraph
        //The paragraph is nestled within the div and both have assigned values
        var count = 0;
        function createDiv() {
            var searchValue = document.getElementById('searchVal').value;

            var iDiv = document.createElement("div");
            iDiv.id = "div1";
            document.getElementById("trip-content").appendChild(iDiv);

            var inner = document.createElement("p");
            inner.id="source" + count;
            inner.className = 'unselectable';
            inner.draggable=true;
            inner.addEventListener("ondragStart", drag);
            inner.ondragstart = drag;
            inner.width="336";
            inner.height="69";
            var inText = document.createTextNode(searchValue);
            inner.appendChild(inText);

            var closeButton = document.createElement("button");
            closeButton.type="button";
            closeButton.onclick;
            closeButton.id = "close";
            closeButton.innerHTML="&times;";
            closeButton.className="close";
            closeButton.setAttribute('onlick', 'document.body.removeChild(this.parentNode)')

            var departTime = document.createElement("input");
            departTime.type="datetime-local";
            departTime.className="form-control";
            departTime.placeholder="Departure Time";
            departTime.size="10"
            departTime.cssFloat="left";

            var arriveTime = document.createElement("input");
            arriveTime.type="datetime-local";
            arriveTime.className="form-control";
            arriveTime.placeholder="Arrival Time";
            arriveTime.size="10"
            arriveTime.cssFloat="right";

            var subdiv1 = document.createElement("div");
            subdiv1.id = "div2";
            //Following not included due to styling issues
            //subdiv1.ondrop = drop;
            //subdiv1.ondragover = allowDrop;
            var subdiv2 = document.createElement("div");
            subdiv2.id = "div2";
            var subdiv3 = document.createElement("div");
            subdiv3.id = "div2";

            iDiv.appendChild(subdiv1);
            iDiv.appendChild(subdiv2);
            iDiv.appendChild(subdiv3);

            subdiv1.appendChild(closeButton);
            subdiv1.appendChild(inner);
            subdiv2.appendChild(departTime);
            subdiv3.appendChild(arriveTime);

            count += 1;
            reset("searchVal");
        }

        //Deletes the div upon clicking the close button -> deleting the destination
        $(document).ready(function () {
            $(document).on('click', '#close', function() {
                $(this).parent().parent().remove();
            });
        });

        //Resets form to blank
        function reset(formName) {
            document.getElementById(formName).value = "";
        }


    </script>
    <div id="container">
        <div id="left">
            <h1 class="page_title">Enter a Destination</h1>
            <input id="searchVal" class="form-control" type="text" name="destination" id="destination" placeholder="Enter a destination" list="searchResults" autocomplete="off">
            <datalist id="searchResults" required>
                <option>Adams Gully, Westland, New Zealand</option>
                <option>Ahirau, South Auckland, New Zealand</option>
                <option>Akina, Marlborough, New Zealand</option>
                <option>Allen Creek, Westland, New Zealand</option>
                <option>Ananui Creek, Nelson, New Zealand</option>
                <option>Angus Flat, Canterbury, New Zealand</option>
                <option>Aorere River, Nelson, New Zealand</option>
                <option>Aranui, Canterbury, New Zealand</option>
                <option>Arch Hill, North Auckland, New Zealand</option>
                <option>Aroarokaehe Range, Canterbury, Westland, New Zealand</option>
                <option>Ashwick Flat, Canterbury, New Zealand</option>
                <option>Aurum Creek, Otago, New Zealand</option>
                <option>Awakino Government Purpose Wildlife Management Reserve, North Auckland, New Zealand</option>
                <option>Awash Rock, North Auckland, New Zealand</option>
                <option>Bains Gully, Nelson, New Zealand</option>
                <option>Balmoral, North Auckland, New Zealand</option>
                <option>Barrier River South Branch, Otago, New Zealand</option>
                <option>Baylys Beach Post Office, North Auckland, New Zealand</option>
                <option>Begley Saddle, Nelson, New Zealand</option>
                <option>Ben Mcleod Range, Canterbury, New Zealand</option>
                <option>Big Bay Landing, Otago, New Zealand</option>
                <option>Big River, Nelson, New Zealand</option>
                <option>Bishops Cap, Nelson, Marlborough, New Zealand</option>
                <option>Black Miller Stream, Marlborough, New Zealand</option>
                <option>Blackwood Stream, Wellington, New Zealand</option>
                <option>Blue Bill Stream, South Auckland, New Zealand</option>
                <option>Bluff Creek, Nelson, New Zealand</option>
                <option>Bollons Island, Southland, New Zealand</option>
                <option>Boulder Bed Stream, North Auckland, New Zealand</option>
                <option>Bow Alley Creek, Otago, New Zealand</option>
                <option>Brassey Creek, Westland, New Zealand</option>
                <option>Brides Veil Stream, Otago, New Zealand</option>
                <option>Brooklands, Nelson, New Zealand</option>
                <option>Bruce Stream, Wellington, New Zealand</option>
                <option>Bullion Stream, South Auckland, New Zealand</option>
                <option>Burnet Stream, Canterbury, New Zealand</option>
                <option>Bushy Creek, Otago, New Zealand</option>
                <option>Cadigan Stream, South Auckland, New Zealand</option>
                <option>Cameron Stream, Canterbury, New Zealand</option>
                <option>Camp Oven Dome, Otago, New Zealand</option>
                <option>Cape Buttercup, Canterbury, New Zealand</option>
                <option>Cargo Creek, Westland, New Zealand</option>
                <option>Cascade Creek, Southland, New Zealand</option>
                <option>Castlerock, Southland, New Zealand</option>
                <option>Cave Brook, Nelson, New Zealand</option>
                <option>Cerberus, Wellington, New Zealand</option>
                <option>Chartwell, South Auckland, New Zealand</option>
                <option>Chinaman Creek, Nelson, New Zealand</option>
                <option>Clark Creek, Otago, New Zealand</option>
                <option>Clevedon, North Auckland, New Zealand</option>
                <option>Coal Creek, Westland, New Zealand</option>
                <option>Cockney Creek, Westland, New Zealand</option>
                <option>Columbia Bank / Te Nuku-o-Mourea, North Auckland, New Zealand</option>
                <option>Contact Creek, Nelson, New Zealand</option>
                <option>Coppermine Stream, Hawke's Bay, New Zealand</option>
                <option>Courtenay Peak, Otago, New Zealand</option>
                <option>Craig Rankin, Otago, New Zealand</option>
                <option>Crooked Basin, Southland, New Zealand</option>
                <option>Curio Bay, Southland, New Zealand</option>
                <option>Danger Stream, Westland, New Zealand</option>
                <option>Davis Valley Stream, Nelson, New Zealand</option>
                <option>Deep Bight, Marlborough, New Zealand</option>
                <option>Demon Gap Icefall, Otago, New Zealand</option>
                <option>Devonport Beach, North Auckland, New Zealand</option>
                <option>Dip Creek, Otago, New Zealand</option>
                <option>Dogface Flat, Nelson, New Zealand</option>
                <option>Dore Stream, Marlborough, New Zealand</option>
                <option>Downie, Nelson, New Zealand</option>
                <option>Drysdale Creek, Nelson, New Zealand</option>
                <option>Duncan River, Westland, New Zealand</option>
                <option>Earland Falls, Otago, New Zealand</option>
                <option>East Windward Island, Southland, New Zealand</option>
                <option>Elaine Bay Recreation Reserve, Nelson, New Zealand</option>
                <option>Emas Dome, Canterbury, New Zealand</option>
                <option>Eric Stream, Canterbury, New Zealand</option>
                <option>Evening Gully, Westland, New Zealand</option>
                <option>Falls Creek, Southland, New Zealand</option>
                <option>Feldspar Stream, Southland, New Zealand</option>
                <option>Fiftyeight Valley, Wellington, New Zealand</option>
                <option>Fitzpatrick Gully, Otago, New Zealand</option>
                <option>Flat Stream, Marlborough, New Zealand</option>
                <option>Foals Stream, Southland, New Zealand</option>
                <option>Fossil Creek, Nelson, New Zealand</option>
                <option>Franks Bay, Southland, New Zealand</option>
                <option>Freshfield Glacier, Canterbury, New Zealand</option>
                <option>Gair Loch, Southland, New Zealand</option>
                <option>Gawler Downs, Canterbury, New Zealand</option>
                <option>Gibbs Creek, Nelson, New Zealand</option>
                <option>Gladstone, Otago, New Zealand</option>
                <option>Gleniti, Canterbury, New Zealand</option>
                <option>Goat Island, Otago, New Zealand</option>
                <option>Goodger Flat, Otago, New Zealand</option>
                <option>Gorge Stream, Wellington, New Zealand</option>
                <option>Grand View, North Auckland, New Zealand</option>
                <option>Great Moss Swamp, Otago, New Zealand</option>
                <option>Greenstone Stream, Canterbury, New Zealand</option>
                <option>Guano Island, North Auckland, New Zealand</option>
                <option>Haines Stream, Nelson, New Zealand</option>
                <option>Halpin Creek, Canterbury, New Zealand</option>
                <option>Hannahs Bay, South Auckland, New Zealand</option>
                <option>Harcourt Creek, Westland, New Zealand</option>
                <option>Hart Creek, Wellington, New Zealand</option>
                <option>Haunted Spur, Otago, New Zealand</option>
                <option>Hawahawa Stream, South Auckland, New Zealand</option>
                <option>Headlong Peak, Otago, New Zealand</option>
                <option>Hematite Stream, Canterbury, New Zealand</option>
                <option>Hermione Rock, North Auckland, New Zealand</option>
                <option>High Rock, Southland, New Zealand</option>
                <option>Hills Beach, North Auckland, New Zealand</option>
                <option>Hitchin Range, Westland, New Zealand</option>
                <option>Hokonui Scenic Reserve, Southland, New Zealand</option>
                <option>Honeymoon Bay, Nelson, New Zealand</option>
                <option>Horahora Kakahu Island, Marlborough, New Zealand</option>
                <option>Horseshoe Bend, Southland, New Zealand</option>
                <option>Howdens Bush Scenic Reserve, Marlborough, New Zealand</option>
                <option>Huiroa, Taranaki, New Zealand</option>
                <option>Hunter River, Otago, New Zealand</option>
                <option>Hutchinson Scenic Reserve, Hawke's Bay, New Zealand</option>
                <option>Ikanui Stream, Hawke's Bay, New Zealand</option>
                <option>Iris Stream, North Auckland, New Zealand</option>
                <option>Iso Glacier, Westland, New Zealand</option>
                <option>Jackson Stream, Nelson, New Zealand</option>
                <option>Jenkins Hill, Nelson, New Zealand</option>
                <option>Johnstone Mount, Canterbury, New Zealand</option>
                <option>Jumped Up Downs, Canterbury, New Zealand</option>
                <option>Kahueomanu Stream, South Auckland, New Zealand</option>
                <option>Kaiawha Stream, Gisborne, New Zealand</option>
                <option>Kaikoura District, Marlborough, New Zealand</option>
                <option>Kaipipi Point, Southland, New Zealand</option>
                <option>Kaiteriteri, Nelson, New Zealand</option>
                <option>Kaiwhakauka Pa, Wellington, New Zealand</option>
                <option>Kakapo Stream, Taranaki, New Zealand</option>
                <option>Kanohinui, South Auckland, New Zealand</option>
                <option>Karakanui Point, North Auckland, New Zealand</option>
                <option>Karemuhako Stream, North Auckland, New Zealand</option>
                <option>Kateniha Stream, Hawke's Bay, New Zealand</option>
                <option>Kaurimu Stream, North Auckland, New Zealand</option>
                <option>Kawaunui Stream, South Auckland, New Zealand</option>
                <option>Kelleher, Wellington, New Zealand</option>
                <option>Kerikeri Basin Recreation Reserve, North Auckland, New Zealand</option>
                <option>Kilmog Hill, Otago, New Zealand</option>
                <option>Kirikiri Stream, South Auckland, New Zealand</option>
                <option>Kiwitahi, South Auckland, New Zealand</option>
                <option>Kohi Point, South Auckland, New Zealand</option>
                <option>Kokopu Stream, Taranaki, New Zealand</option>
                <option>Kopuaparore Stream, North Auckland, New Zealand</option>
                <option>Koromikau, Wellington, New Zealand</option>
                <option>K?tukutuku Bay, South Auckland, New Zealand</option>
                <option>Krushen Stream, Marlborough, New Zealand</option>
                <option>Kuritunu Stream, South Auckland, New Zealand</option>
                <option>Lake Ahaura, Westland, New Zealand</option>
                <option>Lake Donne, Canterbury, New Zealand</option>
                <option>Lake Hochstetter, Westland, New Zealand</option>
                <option>Lake Louise, Southland, New Zealand</option>
                <option>Lake Ngapouri, South Auckland, New Zealand</option>
                <option>Lake Pupuke, North Auckland, New Zealand</option>
                <option>Lake Rotoroa (Hamilton Lake), South Auckland, New Zealand</option>
                <option>Lake Te Rangatapu, Wellington, New Zealand</option>
                <option>Lake Whatum?, Hawke's Bay, New Zealand</option>
                <option>Lathrop Saddle, Westland, New Zealand</option>
                <option>Lees Knob, Southland, New Zealand</option>
                <option>Lily Creek, Westland, New Zealand</option>
                <option>Lismore, Canterbury, New Zealand</option>
                <option>Little Kowai River, Canterbury, New Zealand</option>
                <option>Little Wanganui Head, Nelson, New Zealand</option>
                <option>Long Bay Scenic Reserve, Canterbury, New Zealand</option>
                <option>Long Spur Stream, Canterbury, New Zealand</option>
                <option>Lowe Mountain, Canterbury, Westland, New Zealand</option>
                <option>Lumber Flat, Westland, New Zealand</option>
                <option>Mackay Downs, Nelson, New Zealand</option>
                <option>Magdalen Hills, Otago, New Zealand</option>
                <option>Mahoetahi Historic Site, Taranaki, New Zealand</option>
                <option>Maitahi River, Westland, New Zealand</option>
                <option>Makara Stream, Gisborne, New Zealand</option>
                <option>Makino Stream, Taranaki, New Zealand</option>
                <option>Makuri Gorge Scenic Reserve, Wellington, New Zealand</option>
                <option>Manawapou River, Taranaki, New Zealand</option>
                <option>Mangahererangi Stream, Taranaki, New Zealand</option>
                <option>Mangakahu Stream, South Auckland, New Zealand</option>
                <option>Mangakotukutuku Stream, Gisborne, New Zealand</option>
                <option>Mangamingi Saddle, Wellington, New Zealand</option>
                <option>Mangaohe Stream, South Auckland, New Zealand</option>
                <option>Mangaorapa, Hawke's Bay, New Zealand</option>
                <option>Mangapapa Stream, Gisborne, New Zealand</option>
                <option>Mangapu River, South Auckland, New Zealand</option>
                <option>Mangaroa Stream, South Auckland, New Zealand</option>
                <option>Mangatawa, South Auckland, New Zealand</option>
                <option>Mangatoetoe, Wellington, New Zealand</option>
                <option>Mangawai River, North Auckland, New Zealand</option>
                <option>Mangere Falls, North Auckland, New Zealand</option>
                <option>Manuka Creek, Canterbury, New Zealand</option>
                <option>Maori Gully, Otago, New Zealand</option>
                <option>Maraeweka Stream, Otago, New Zealand</option>
                <option>M?rima, Wellington, New Zealand</option>
                <option>Marsland Hill Historic Reserve, Taranaki, New Zealand</option>
                <option>Master Head, Southland, New Zealand</option>
                <option>Mataka Point, Nelson, New Zealand</option>
                <option>Matarangi, South Auckland, New Zealand</option>
                <option>Matawhero Pa, North Auckland, New Zealand</option>
                <option>Matuku Stream, Gisborne, New Zealand</option>
                <option>Maungaparerua, North Auckland, New Zealand</option>
                <option>Maungawhiorangi, Gisborne, New Zealand</option>
                <option>McCallum Stream, Marlborough, New Zealand</option>
                <option>McKenzie Falls, Southland, New Zealand</option>
                <option>Meakokutea, Gisborne, New Zealand</option>
                <option>Merry Brook, Westland, New Zealand</option>
                <option>Middy Creek, Nelson, New Zealand</option>
                <option>Millson Creek, Westland, New Zealand</option>
                <option>Mirfin Creek, Westland, New Zealand</option>
                <option>Moa Flat, Otago, New Zealand</option>
                <option>Moffat Creek, Southland, New Zealand</option>
                <option>Mokomoko Inlet, Southland, New Zealand</option>
                <option>Monowai, Southland, New Zealand</option>
                <option>Morgan Stream, Canterbury, New Zealand</option>
                <option>Mother Millers Spring, Canterbury, New Zealand</option>
                <option>Motukauatirahi/Cass Bay, Canterbury, New Zealand</option>
                <option>Motuoapa Peninsula, South Auckland, New Zealand</option>
                <option>Motutangi Scenic Reserve, North Auckland, New Zealand</option>
                <option>Mound, Canterbury, New Zealand</option>
                <option>Mount Avalanche, Otago, New Zealand</option>
                <option>Mount Brown, Nelson, New Zealand</option>
                <option>Mount Chisholm, Southland, New Zealand</option>
                <option>Mount Dick, Southland, New Zealand</option>
                <option>Mount Epping, Nelson, New Zealand</option>
                <option>Mount Gladwish, Otago, New Zealand</option>
                <option>Mount Herbert/Te Ahu Patiki, Canterbury, New Zealand</option>
                <option>Mount Joyce, Nelson, New Zealand</option>
                <option>Mount Madeline, Southland, Otago, New Zealand</option>
                <option>Mount Meehan, Canterbury, New Zealand</option>
                <option>Mount Nobel, Marlborough, New Zealand</option>
                <option>Mount Phillips, Southland, New Zealand</option>
                <option>Mount Rosamond, Canterbury, Westland, New Zealand</option>
                <option>Mount Stapp, Canterbury, New Zealand</option>
                <option>Mount Tregear, Westland, Canterbury, New Zealand</option>
                <option>Mount William Grant, Canterbury, New Zealand</option>
                <option>Muddy Creek, Nelson, New Zealand</option>
                <option>Muriwai, Gisborne, New Zealand</option>
                <option>Muturangi, South Auckland, New Zealand</option>
                <option>Naylor Creek, Nelson, New Zealand</option>
                <option>Neutral, Marlborough, New Zealand</option>
                <option>Ngaheni Ridge, Gisborne, New Zealand</option>
                <option>Ngakuta Bay, Marlborough, New Zealand</option>
                <option>Ngapuketaurete, North Auckland, New Zealand</option>
                <option>Nga Tamahineapani, Nelson, New Zealand</option>
                <option>Ngautorotoro Stream, North Auckland, New Zealand</option>
                <option>Nicholson Canyon, Wellington, New Zealand</option>
                <option>No. 2 Creek, Southland, New Zealand</option>
                <option>North Channel, North Auckland, New Zealand</option>
                <option>North Rock, Southland, New Zealand</option>
                <option>Nym Peak, Canterbury, New Zealand</option>
                <option>Ogilvie Creek, Westland, New Zealand</option>
                <option>Ohau Stream, South Auckland, New Zealand</option>
                <option>Ohira, Wellington, New Zealand</option>
                <option>Okaharau Road Scenic Reserve, North Auckland, New Zealand</option>
                <option>Okari Lagoon, Nelson, New Zealand</option>
                <option>Okoeke Stream, Wellington, New Zealand</option>
                <option>Okurekureia Beach, North Auckland, New Zealand</option>
                <option>Omahuri, North Auckland, New Zealand</option>
                <option>Omatane, Wellington, New Zealand</option>
                <option>Onaero River Scenic Reserve, Taranaki, New Zealand</option>
                <option>Onetohunga Stream, Gisborne, New Zealand</option>
                <option>Opal Lake, South Auckland, New Zealand</option>
                <option>Opito Point, South Auckland, New Zealand</option>
                <option>Opukeko Stream, South Auckland, New Zealand</option>
                <option>Orau Gorge, North Auckland, New Zealand</option>
                <option>Orohora Stream, South Auckland, New Zealand</option>
                <option>Oruamo or Hellyers Creek, North Auckland, New Zealand</option>
                <option>Otahu Flat, Southland, New Zealand</option>
                <option>Otamarangi Stream, North Auckland, New Zealand</option>
                <option>Otara, Gisborne, New Zealand</option>
                <option>Otawhao Stream, South Auckland, New Zealand</option>
                <option>Otiria-Okaihau Industrial Railway, North Auckland, New Zealand</option>
                <option>Otuhirawa Stream, Taranaki, New Zealand</option>
                <option>Otututu or Rough River, Nelson, Westland, New Zealand</option>
                <option>Owen Creek, Nelson, New Zealand</option>
                <option>Pacific Bay, North Auckland, New Zealand</option>
                <option>Paewhakataratara Ridge, South Auckland, New Zealand</option>
                <option>Paikakariki Stream, South Auckland, New Zealand</option>
                <option>Pakinui Stream, North Auckland, New Zealand</option>
                <option>Pancake Hill, Canterbury, New Zealand</option>
                <option>Papakauri Stream, North Auckland, New Zealand</option>
                <option>Paparoa Stream, North Auckland, New Zealand</option>
                <option>Parahi, North Auckland, New Zealand</option>
                <option>Para Stream, Wellington, New Zealand</option>
                <option>Parihamore Pa, Taranaki, New Zealand</option>
                <option>Park River, Wellington, New Zealand</option>
                <option>Patanui Stream, Wellington, New Zealand</option>
                <option>Patuki Mountain, Southland, New Zealand</option>
                <option>Pearl Drop Ice, Westland, New Zealand</option>
                <option>Penetanui Stream, Taranaki, New Zealand</option>
                <option>Peter Spur, Westland, New Zealand</option>
                <option>Piemelon Bay, North Auckland, New Zealand</option>
                <option>Pikimai / Church Hill, Nelson, New Zealand</option>
                <option>Pioke, Taranaki, New Zealand</option>
                <option>Pirongia Forest Park, South Auckland, New Zealand</option>
                <option>Plumbago Stream, Wellington, New Zealand</option>
                <option>Poike, South Auckland, New Zealand</option>
                <option>Poley Bay, South Auckland, New Zealand</option>
                <option>Popo Stream, North Auckland, New Zealand</option>
                <option>Port Gore, Marlborough, New Zealand</option>
                <option>Pouakai Range, Taranaki, New Zealand</option>
                <option>Poututu Rural Sections, Hawke's Bay, New Zealand</option>
                <option>Pringles Gully, Otago, New Zealand</option>
                <option>Puffer Saddle, Wellington, New Zealand</option>
                <option>Pukawa Stream, South Auckland, New Zealand</option>
                <option>Pukekarara, Otago, New Zealand</option>
                <option>Pukemokemoke, South Auckland, New Zealand</option>
                <option>Pukerau Red Tussock Scientific Reserve, Southland, New Zealand</option>
                <option>Pukete, South Auckland, New Zealand</option>
                <option>Pukewharariki, North Auckland, New Zealand</option>
                <option>Punawhakareia Bay, South Auckland, New Zealand</option>
                <option>Pura Pura, North Auckland, New Zealand</option>
                <option>Putataua Bay, North Auckland, New Zealand</option>
                <option>Quarry Point, South Auckland, New Zealand</option>
                <option>Radd Drain, North Auckland, New Zealand</option>
                <option>Raincliff Historic Reserve, Canterbury, New Zealand</option>
                <option>Ramarama Stream, North Auckland, New Zealand</option>
                <option>Rangiheke Pa, North Auckland, New Zealand</option>
                <option>Rangitehi, North Auckland, New Zealand</option>
                <option>Rapaotauweki Stream, North Auckland, New Zealand</option>
                <option>Rat Island, Southland, New Zealand</option>
                <option>Rawa Stream, Taranaki, New Zealand</option>
                <option>Red Hill, Canterbury, New Zealand</option>
                <option>Refuge Island, Southland, New Zealand</option>
                <option>Rereaheihei Falls, Taranaki, New Zealand</option>
                <option>Ribbonwood Stream, Canterbury, New Zealand</option>
                <option>Ripapa Island Historic Reserve, Canterbury, New Zealand</option>
                <option>Robinson Creek, Westland, New Zealand</option>
                <option>Rocky Knob, Canterbury, New Zealand</option>
                <option>Rollover Glacier, Canterbury, New Zealand</option>
                <option>Rotokahu Scenic Reserve, Wellington, New Zealand</option>
                <option>Rough or Tobin Stream, Nelson, New Zealand</option>
                <option>Royal Billy Point, South Auckland, New Zealand</option>
                <option>Ruapake Stream, Marlborough, New Zealand</option>
                <option>Ruff Creek, Nelson, New Zealand</option>
                <option>Ryde Stream, Canterbury, New Zealand</option>
                <option>Saint Johns, North Auckland, New Zealand</option>
                <option>Sandstone Creek, Nelson, New Zealand</option>
                <option>Sawpit Creek, Nelson, New Zealand</option>
                <option>Scone Creek, Westland, New Zealand</option>
                <option>Seagull Lake, Canterbury, New Zealand</option>
                <option>Selwyn River/Waikirikiri, Canterbury, New Zealand</option>
                <option>Shag Harbour, Nelson, New Zealand</option>
                <option>Shaws Island, Otago, New Zealand</option>
                <option>Sherwood Range, Canterbury, New Zealand</option>
                <option>Signal Ridge, Westland, New Zealand</option>
                <option>Sisters Stream, Canterbury, New Zealand</option>
                <option>Slip Gully, Canterbury, New Zealand</option>
                <option>Smylies Arm, Nelson, New Zealand</option>
                <option>Soho Creek, Otago, New Zealand</option>
                <option>South Forbes Glacier, Canterbury, New Zealand</option>
                <option>Spar Creek, Southland, New Zealand</option>
                <option>Springbrook, Canterbury, New Zealand</option>
                <option>Stag Pool, Wellington, New Zealand</option>
                <option>Station Creek Scenic Reserve, Nelson, New Zealand</option>
                <option>Stewart Island/Rakiura, Southland, New Zealand</option>
                <option>Stoney Hill, Otago, New Zealand</option>
                <option>Stour River, Canterbury, New Zealand</option>
                <option>Sugar Loaf, Canterbury, New Zealand</option>
                <option>Sunshine, Otago, New Zealand</option>
                <option>Swan Burn, Nelson, New Zealand</option>
                <option>Table Stream, Hawke's Bay, New Zealand</option>
                <option>T?hunanui Beach, Nelson, New Zealand</option>
                <option>Taimatea Creek, Nelson, New Zealand</option>
                <option>Takanga Point, Gisborne, New Zealand</option>
                <option>Takitaki Stream, North Auckland, New Zealand</option>
                <option>Tangakakariki, Gisborne, New Zealand</option>
                <option>Taorua Stream, Taranaki, New Zealand</option>
                <option>Tapui Stream, Hawke's Bay, New Zealand</option>
                <option>Tara o te Marama, Wellington, New Zealand</option>
                <option>Taringamotu Valley, South Auckland, New Zealand</option>
                <option>Tate Creek, Nelson, New Zealand</option>
                <option>Taumatara Point, North Auckland, New Zealand</option>
                <option>Taupo Swamp, Wellington, New Zealand</option>
                <option>Tautuku River, Otago, New Zealand</option>
                <option>Tawhanga, Wellington, New Zealand</option>
                <option>Te Ahitahutahu, Gisborne, New Zealand</option>
                <option>Te Apu, South Auckland, New Zealand</option>
                <option>Te Awaiti Stream, South Auckland, New Zealand</option>
                <option>Te Henga (Bethells Beach), North Auckland, New Zealand</option>
                <option>Te Huka Bay, North Auckland, New Zealand</option>
                <option>Te Kakari, South Auckland, New Zealand</option>
                <option>Te Kawa, South Auckland, New Zealand</option>
                <option>Te Korowai-o-Te-Tonga Peninsula, North Auckland, New Zealand</option>
                <option>Te Mangaroa Stream, Gisborne, New Zealand</option>
                <option>Te Moenga Bay, South Auckland, New Zealand</option>
                <option>Te Nunuhe Rock, North Auckland, New Zealand</option>
                <option>Te Pari o Te Mataahua, Otago, New Zealand</option>
                <option>Te Puka Stream, Gisborne, New Zealand</option>
                <option>Te Ranga, South Auckland, New Zealand</option>
                <option>Te Rerengaohoro Stream, South Auckland, New Zealand</option>
                <option>Te Ruatakuahi Point, South Auckland, New Zealand</option>
                <option>Te Toitoi Point, South Auckland, New Zealand</option>
                <option>Te Waha Point, North Auckland, New Zealand</option>
                <option>Te Wera Stream, Gisborne, New Zealand</option>
                <option>Thackers Redoubt, Taranaki, New Zealand</option>
                <option>The Cathedrals, Canterbury, New Zealand</option>
                <option>The Gut, Southland, New Zealand</option>
                <option>The Organs, Hawke's Bay, New Zealand</option>
                <option>The Rudder, Westland, New Zealand</option>
                <option>The Woolsack, Westland, New Zealand</option>
                <option>Three Lagoons, Southland, New Zealand</option>
                <option>Tikapu Stream, Taranaki, New Zealand</option>
                <option>Tindalls Beach, North Auckland, New Zealand</option>
                <option>Tiriwa Point, North Auckland, New Zealand</option>
                <option>Tiwaewae Memorial Reserve Historic Reserve, Hawke's Bay, New Zealand</option>
                <option>Tokanui, South Auckland, New Zealand</option>
                <option>Tokorihi, North Auckland, New Zealand</option>
                <option>Toomey Stream, South Auckland, New Zealand</option>
                <option>Totara, South Auckland, New Zealand</option>
                <option>Tower Peak, Southland, New Zealand</option>
                <option>Trig Flat, North Auckland, New Zealand</option>
                <option>Tuapeka Mouth Recreation Reserve, Otago, New Zealand</option>
                <option>Tui Stream, Canterbury, New Zealand</option>
                <option>Tunatau Scenic Reserve, Wellington, New Zealand</option>
                <option>Turiohaua, South Auckland, New Zealand</option>
                <option>Tutaengarahi, South Auckland, New Zealand</option>
                <option>Twain Col, Canterbury, Westland, New Zealand</option>
                <option>Uenukutuhatu Rock, South Auckland, New Zealand</option>
                <option>Upokororo Bay, Gisborne, New Zealand</option>
                <option>Urukokomoku Stream, Gisborne, New Zealand</option>
                <option>Verter Burn, Otago, New Zealand</option>
                <option>Waewaepitau Stream, Taranaki, New Zealand</option>
                <option>Waiari Settlement, South Auckland, New Zealand</option>
                <option>Waihaha, North Auckland, New Zealand</option>
                <option>Waihi Estuary, South Auckland, New Zealand</option>
                <option>Waihopuhopu Stream, North Auckland, New Zealand</option>
                <option>Waikakaramea Bay, Marlborough, New Zealand</option>
                <option>Waikato Point, Wellington, New Zealand</option>
                <option>Waikino Stream, South Auckland, New Zealand</option>
                <option>Waikouaiti River, Otago, New Zealand</option>
                <option>Waimakariri Stream, North Auckland, New Zealand</option>
                <option>Waimate North, North Auckland, New Zealand</option>
                <option>Waingaro Road, South Auckland, New Zealand</option>
                <option>Waiohau, South Auckland, New Zealand</option>
                <option>Waiopehu Stream, Wellington, New Zealand</option>
                <option>Waioturi Marae, Taranaki, New Zealand</option>
                <option>Waipapa Stream, Wellington, New Zealand</option>
                <option>Waipaua Stream, South Auckland, New Zealand</option>
                <option>Waipu Lagoons, Taranaki, New Zealand</option>
                <option>Wairaomoana (Wairau Arm), Gisborne, New Zealand</option>
                <option>Wairere Stream, Wellington, New Zealand</option>
                <option>Waitaanga, Taranaki, New Zealand</option>
                <option>Waitangi, North Auckland, New Zealand</option>
                <option>Waitaruke, North Auckland, New Zealand</option>
                <option>Waitieka Stream, South Auckland, New Zealand</option>
                <option>Waitui Bay, Marlborough, New Zealand</option>
                <option>Waiwhatawhata Stream, South Auckland, New Zealand</option>
                <option>Wallace Head, Otago, New Zealand</option>
                <option>Warekarianga Stream, Taranaki, New Zealand</option>
                <option>Waterfall Creek, Southland, New Zealand</option>
                <option>Webb Ridge, Nelson, New Zealand</option>
                <option>Wells Hill, Nelson, New Zealand</option>
                <option>West Head, Marlborough, New Zealand</option>
                <option>Whakaangiangi, Gisborne, New Zealand</option>
                <option>Whakapapa, Wellington, New Zealand</option>
                <option>Whakataoma Stream, South Auckland, New Zealand</option>
                <option>Whanake, South Auckland, New Zealand</option>
                <option>Whanganui Falls, South Auckland, New Zealand</option>
                <option>Wharariki Point, Gisborne, New Zealand</option>
                <option>Wharemata, Wellington, New Zealand</option>
                <option>Wharewhaka Point, South Auckland, New Zealand</option>
                <option>Whawanui, Wellington, New Zealand</option>
                <option>Whirligig Torrent, Westland, New Zealand</option>
                <option>White Peak, Southland, New Zealand</option>
                <option>Wiffen Point, Nelson, New Zealand</option>
                <option>Wilson Glacier, Westland, New Zealand</option>
                <option>Winton, Southland, New Zealand</option>
                <option>Woodlands Stream, North Auckland, New Zealand</option>
                <option>Wyndham Scenic Reserve, Southland, New Zealand</option>
                <option>Zubriggen Col, Westland, New Zealand</option>

            </datalist>
            <div style="margin-top: 10px">
            <input type="button" class="btn btn-info" value="Add to Trip" onclick="createDiv()">
            </div>
            <div id="trip">
                <h1 class="page_title">Trip Planner</h1>
                <input style="margin-bottom: 10px;" type="text" name="trip_name" required class="form-control" placeholder="Trip Name">
                <div id="trip-content">


                </div>
            </div>
            <div>
                <input class="btn btn-info btn-lg" type="submit" value="Save Trip" >
            </div>

        </div>
        <div id="right" > @helper.form(action = helper.CSRF(routes.PlanTripsController.saveDestination)) {
            <h1 class="page_title">Create Destinations</h1>
            @*<form action="location.href='@routes.PlanTripsController.save()'" method="post">*@
            Destination Name:<br>
            <input type="text" name="destinationname" required class="form-control"><br>
            Destination Type: <br>
            <select name="dtype" required class="form-control">
                <option value="Suburb">Suburb</option>
                <option value="Event">Event</option>
                <option value="Activity">Activity</option>
                <option value="Monument">Monument</option>
                <option value="View">View</option>
                <option value="Other">Other</option>
            </select> <br>
            Country: <br>
            <input type="text" name="country" required class="form-control"><br>
            District:<br>
            <input type="text" name="district" required class="form-control"><br>
            Latitude:<br>
            <input type="number" name="latitude" required class="form-control"><br>
            Longitude: <br>
            <input type="number" name="longitude" required class="form-control"><br>

            <input class="btn btn-info btn-lg" type="submit" value="Save Destination" >
            @*</form>*@
            }
        </div>


@*
                <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p id="source1" class="unselectable" draggable="true" ondragstart="drag(event)" width="336" height="69">111</p>
                </div>
                <br>
                <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p id="source2" class="unselectable" draggable="true" ondragstart="drag(event)" width="336" height="69">222</p>
                </div>
*@

        </div>
    </div>
}