@(profileForm: Form[ProfileFormData])

<head>
    <title>TravelEA - Signup</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.3.1.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")" ></script>
</head>
<body>
    <div class="welcome">
        <div class="travel_container">

            <div class="signup_content">
                <h1 class="page_title">Sign Up</h1>
                <p class="page_title"><i>Enter your travelling details below.</i></p>
                <div id="left">
                    <div id="top">
                            <h2>Nationality</h2>
                            <p><i>You may select more than one (Shift/Ctrl)</i></p>
                            <select id="nationality" multiple size="10" class="form-control">
                            </select>
                            <h2>Passport Country</h2>
                            <p><i>You may select more than one (Shift/Ctrl)</i></p>
                            <select id="passports" multiple size="10" class="form-control">
                            </select>
                    </div>
                    <div id="bottom">
                            <h2>Traveller Type</h2>
                            <p><i>You may select more than one (Shift/Ctrl)</i></p>
                            <select id="travel" multiple size="7" class="form-control" style="overflow: auto;">
                            </select>
                    </div>
                </div>
                <div id="right">
                    <div class = "info_container">
                        <h2>Traveller Types</h2>
                        <div class="typeInfoBox">

                            <p><b>Groupie:</b> You like to travel with a group of people</p>

                            <p><b>Thrillseeker:</b> Your idea of a perfect holiday involves getting out of your comfort zone and rest and relaxation is the lowest on your priority list.</p>

                            <p><b>Gap Year:</b> You've just finished study and are looking to experience the world before getting into the harsh reality of the real world.</p>

                            <p><b>Frequent Weekender:</b> Do the Mahi on the weekdays to get the treats on the weekend.</p>

                            <p><b>Holidaymaker:</b> YOU LIKE TO PARTYYYY!</p>

                            <p><b>Functional/Business Traveller:</b> Business business business hurdy durr.</p>

                            <p><b>Backpacker:</b> You want to experience as much of the world as possible. This means leaving luxury behind and getting right into the heart of it. </p>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-group-justified btn-lg" onclick="location.href='@routes.ProfileController.profile()'">Create Profile</button>
                </div>
            </div>

        </div>


    </div>
</body>
    <script>
       var selectNation = document.getElementById("nationality");
       var selectPassport = document.getElementById("passports");
       var selectTravel = document.getElementById("travel");

       var options = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua and Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas"
           ,"Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia and Herzegovina","Botswana","Brazil","British Virgin Islands"
           ,"Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica"
           ,"Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea"
           ,"Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana"
           ,"Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India"
           ,"Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia"
           ,"Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania"
           ,"Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia"
           ,"New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal"
           ,"Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre and Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles"
           ,"Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts and Nevis","St Lucia","St Vincent","St. Lucia","Sudan"
           ,"Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad and Tobago","Tunisia"
           ,"Turkey","Turkmenistan","Turks and Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","Uruguay"
           ,"Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];

       var travel_types = ["Groupie", "Thrill Seeker", "Gap Year", "Frequent Weekender", "Holiday Maker", "Functional/Business Traveller", "Backpacker"]

       for(var i = 0; i < options.length; i++) {
           var opt = options[i];
           var el = document.createElement("option");
           el.textContent = opt;
           el.value = opt;
           selectNation.appendChild(el);
       }

       for(var i = 0; i < options.length; i++) {
           var opt = options[i];
           var el = document.createElement("option");
           el.textContent = opt;
           el.value = opt;
           selectPassport.appendChild(el);
       }

       for(var i = 0; i < travel_types.length; i++) {
           var opt = travel_types[i];
           var el = document.createElement("option");
           el.textContent = opt;
           el.value = opt;
           selectTravel.appendChild(el);
       }

    </script>