@(profileForm: Form[ProfileFormData])
<head>
    <title>TravelEA - Signup</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.3.1.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")" ></script>
</head>
<body>
    <div class="welcome">

        <div class="signup_container"> @helper.form(action = helper.CSRF(routes.SignUpController.save)) {

            <!--Form to display content for the Sign Up, creates a CSRF form-->
            <div class="signup_content">
                <h1 class="page_title">Sign Up</h1>
                <p class="page_title"><i>Enter your personal details below</i></p>
                @helper.CSRF.formField

                @helper.inputText(profileForm("firstName"), '_label -> "First Name:", 'class -> "form_text", 'placeholder -> "First Name", 'class -> "form-control")

                @helper.inputText(profileForm("lastName"), '_label -> "Last Name:", 'class -> "form_text", 'placeholder -> "Last Name", 'class -> "form-control")

                @helper.inputText(profileForm("username"), '_label -> "Username:", 'class -> "form_text", 'placeholder -> "Username", 'class -> "form-control")

                @helper.inputPassword(profileForm("password"), '_label -> "Password:", 'class -> "form_text", 'placeholder -> "Password", 'class -> "form-control")

                @helper.inputDate(profileForm("dateOfBirth"), '_label -> "Date of Birth:", 'class -> "form_text", 'class -> "form-control")

                @helper.select(profileForm("gender"), options = Seq("Male" -> "Male", "Female" -> "Female", "Other" -> "Other"), '_label -> "Gender:", 'class -> "form_text form-control", 'style -> "text-align-last: center;")

                <button class="btn btn-primary btn-group-justified btn-lg" type="submit">Next</button>
            }
            </div>
        </div>

    </div>

    <script>
        document.querySelector("#dateOfBirth").valueAsDate = new Date("01-Jan-2000");
    </script>

</body>
