@import helper._

@main {
    <div>
        <h1>Add a Profile</h1>

        <form action="@routes.ProfileController.save()" method="POST" name="myForm">
            <label for="firstName">First Name:</label> <input type="text" name="firstName" id="fName"></p>
            <label for="middle_name">Middle Name:</label> <input type="text" name="middleName" id="mName"></p>
            <label for="last_name">Last Name:</label> <input type="text" name="lastName" id="lName"></p>
            <label for="gender">Gender</label>
            <select name="gender">
                <option value="FEMALE">Female</option>
                <option value="MALE">Male</option>
                <option value="OTHER">Other</option>
            </select>
            <input value="Create" type="submit">
        </form>
    </div>
}