@import helper._

@import models.destinations.Destination
@(destinations: List[Destination])

    <h1>All Destinations</h1>
    <table style="width: 100%">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Type</th>
            <th>District</th>
            <th>Latitude
            <th>Longitude</th>
            <th>Country</th>
        </tr>

        @for(destination <- destinations) {
            <tr>
                <td>@destination.getName</td>
                <td>@destination.getId</td>
                <td>@destination.getType</td>
                <td>@destination.getDistrict</td>
                <td>@destination.getLatitude</td>
                <td>@destination.getLongitude</td>
                <td>@destination.getCountry</td>
            </tr>
        }

    </table>
