@(profile: Profile, success: String)

@main {

    @showPrompt(success)

    <table style="width: 100%">
        <tr>
            <td>Firstname</td>
            <td>@profile.getfName</td>
        </tr>
        <tr>
            <td>Middlename</td>
            <td>@profile.getmName</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>@profile.getlName</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@profile.getGender</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>@profile.getDateOfBirth</td>
        </tr>
        <tr>
            <td>Date of Creation</td>
            <td>@profile.getDateOfCreation</td>
        </tr>
        <tr>
            <td>Nationalities</td>
            <td>@for(nationality <- profile.getNationalities) {
                @nationality.getNationality
            }</td>
        </tr>
        <tr>
            <td>Passport Countries</td>
            <td>@for(passport <- profile.getPassports) {
                @passport.getIssueCountry
            }</td>
        </tr>
        <tr>
            <td>TravellerTypes</td>
            <td>
            @for(travellerType <- profile.getTravellerTypes) {
                @travellerType.getTravellerType
            }
            </td>
        </tr>
    </table>

}