@activeLink(currentPath:String) = @{
    if(request.path.equals(currentPath)) "nav_active"
}

<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="navbar">

    <a class="navbar-brand" href="/"><img src="@routes.Assets.at("images/full_logo_sm.png")"></a>

    @* Hamburger menu toggle only shown on smaller devices *@
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-list">

        <ul class="navbar-nav nav mr-auto">
            <li class="nav-item">
                <a class="nav-link @activeLink("/destinations")"  href="@routes.PageController.destinations()">Destinations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @activeLink("/searchProfile")"  href="@routes.PageController.searchProfiles()">Search Profiles</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link @activeLink("/dash")" href="@routes.PageController.dash()">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Logout</a>
            </li>
        </ul>

    </div>
</nav>