<div class="modal fade" id="signUpPopup" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="signup-form" role="form">
                    <div id="firstname_group">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input id="first_name" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div id="middlename_group">
                        <div class="form-group">
                            <label>Middle Name:</label>
                            <input id="middle_name" type="text" class="form-control" >
                        </div>
                    </div>
                    <div id="lastname_group">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input id="last_name" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div id="username_group">
                        <div class="form-group">
                            <label>Username:</label>
                            <input id="username" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div id = "password_group">
                        <div class="form-group">
                            <label>Password:</label>
                            <input id="password" type="password" class="form-control password" required>
                        </div>
                        <div class="form-group">
                            <label>Retype Password:</label>
                            <input id="password_retyped" type="password" class="form-control password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date of birth:</label>
                        <input id="date_of_birth" type="date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <select id="gender" type="" class="form-control" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btn-Next">Next</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span>Already have an account? <a href data-dismiss="modal" data-target="#loginPopup" data-toggle="modal">Sign In</a></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signUpContinued" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SignUp Continued</h4>
            </div>
            <div class="modal-body">
                <form id="create-form" role="form">
                <div class="form-group">
                    <label>Nationalities:</label>
                    <select class="form-control" id="nationality" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Passports:</label>
                    <select class="form-control" id="passport" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Traveller Types:</label>
                    <select class="form-control" id="travType" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn-Create">Create Profile</button>
                </div>
            </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@*

<head>
    <title>TravelEA - Signup</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.3.1.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom.js")" ></script>
</head>
<body>
    <div class="welcome">

        <div class="signup_container">
            <div class="signup_content">

            </div>
        </div>

        <div class="travel_container" hidden>
            <div class="signup_content">
                <h1 class="page_title">Sign Up</h1>
                <p class="page_title"><i>Enter your travelling details below.</i></p>
                <div id="left">
                    <div id="top">
                        <h2>Nationality</h2>
                        <p><i>You may select more than one (Shift/Ctrl)</i></p>
                        <select id="nationality" multiple size="10" class="form-control">
                            </select>
                        <h2>Passport Country</h2>
                        <p><i>You may select more than one (Shift/Ctrl)</i></p>
                        <select id="passports" multiple size="10" class="form-control">
                            </select>
                    </div>
                    <div id="bottom">
                        <h2>Traveller Type</h2>
                        <p><i>You may select more than one (Shift/Ctrl)</i></p>
                        <select id="travel" multiple size="7" class="form-control" style="overflow: auto;">
                            </select>
                    </div>
                </div>
                <div id="right">
                    <div class = "info_container">
                        <h2>Traveller Types</h2>
                        <div class="typeInfoBox">

                            <p><b>Groupie:</b> You like to travel with a group of people</p>

                            <p><b>Thrillseeker:</b> Your idea of a perfect holiday involves getting out of your comfort zone and rest and relaxation is the lowest on your priority list.</p>

                            <p><b>Gap Year:</b> You've just finished study and are looking to experience the world before getting into the harsh reality of the real world.</p>

                            <p><b>Frequent Weekender:</b> Do the Mahi on the weekdays to get the treats on the weekend.</p>

                            <p><b>Holidaymaker:</b> YOU LIKE TO PARTYYYY!</p>

                            <p><b>Functional/Business Traveller:</b> Business business business hurdy durr.</p>

                            <p><b>Backpacker:</b> You want to experience as much of the world as possible. This means leaving luxury behind and getting right into the heart of it. </p>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-group-justified btn-lg" onclick="location.href=''">Create Profile</button>
                </div>
            </div>

        </div>
    </div>

    <script>
            document.querySelector("#dateOfBirth").valueAsDate = new Date("01-Jan-2000");

            var app = angular.module('profileApp', []);

            app.controller('indexCtrl', function($window, $scope, $http) {

                $scope.promptIndex = 0;

                $scope.attemptSignUp = function () {
                    $http({
                        method: 'POST',
                        url: 'signup',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify({
                            first_name: $scope.first_name,
                            last_name: $scope.last_name,
                            username: $scope.username,
                            password: $scope.password,
                            date_of_birth: $scope.date_of_birth,
                            gender: $scope.gender
                        }),
                    }).then(function (response) {
                        $window.location.href = "/travel-type";
                    }, function (err) {
                        $scope.navIndex = 1;
                        $scope.promptIndex = 2;
                    })
                };
            });
    </script>

</body>
*@